<div class="card-group">
    <div class="card border-info mb-3">
      <img src="images/data science.png" class="card-img-top" alt="..." style="height:300px; width:min-content; margin-left: 70px;">
      <div class="card-header">Data science</div>
      <div class="card-body ">
        <p class="card-text">Data science is an interdisciplinary academic field that uses statistics, scientific computing, scientific methods, processes, scientific visualization, algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.</p>
      </div>
    </div>
    <div class="card border-info mb-3">
      <img src="images/engineering.jpg" class="card-img-top" alt="..." style="height:300px;">
      <div class="card-header">computer science</div>
      <div class="card-body">
        <p class="card-text">Fundamental areas of computer science Computer science is the study of computation, information, and automation. Computer science spans theoretical disciplines to applied disciplines. Algorithms and data structures are central to computer science.</p>
      </div>
    </div>
    <div class="card border-info mb-3">
      <img src="images/digital marketing.jpg" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-header">Digital marketing</div>
      <div class="card-body">
        <p class="card-text">Digital marketing is the component of marketing that uses the Internet and online-based digital technologies such as desktop computers, mobile phones, and other digital media and platforms to promote products and services.</p>
      </div>
    </div>
  </div>